@import 'variables.scss';

body {
  background-image: url("./../images/bg.png");
}

.pokemon-index {
  color: #ff3232;
  font-weight: 500;
  font-size: 25px;
}

.pokemon-img {
  width: 200px;
  image-rendering: pixelated;
  margin-bottom: -15px;
  margin-top: -15px;
}

.pokemon-description {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  line-height: 1.3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.measurement{
  font-size: 10px;
  font-weight: 600;
  color: $secondary;
}

// Overriding Bootstrap
.btn {
  border-radius: 0.25rem;
}

p {
  font-family: unset;
}